In [1]:
import os
import sys
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import talib as ta
sys.path.insert(0, os.path.dirname(os.getcwd()))
# import stockpriceanalyzer from scripts
from scripts.stock_price_analysis import StockPriceAnalyzer

In [2]:
# assign folder path of datasets 
folder_path='../yfinance_data/'
# Automaticaly merge the data and create a single csv file and asign to sa.data
sa=StockPriceAnalyzer(folder_path=folder_path)

In [3]:
# Display the first five row datas after merging
sa.data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL

In [4]:
# make sure the dataframe includes columns like Open, High, Low, Close, and Volume.
sa.data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits', 'stock_symbol'],
      dtype='object')

In [5]:
# Calculate technical indicators using TA-Lib and desplay the data
sa.calculate_technical_indicators(sa.data)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol,SMA,RSI,EMA,MACD,MACD_Signal
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45423,2024-07-24,225.419998,225.990005,214.710007,215.990005,215.990005,167942900,0.0,0.0,TSLA,237.924999,44.886918,233.501099,11.789291,15.873789
45424,2024-07-25,216.800003,226.000000,216.229996,220.250000,220.250000,100636500,0.0,0.0,TSLA,239.118999,46.951389,232.239089,9.353206,14.569672
45425,2024-07-26,221.190002,222.279999,215.330002,219.800003,219.800003,94604100,0.0,0.0,TSLA,240.238000,46.752165,231.054414,7.302106,13.116159
45426,2024-07-29,224.899994,234.270004,224.699997,232.100006,232.100006,129201800,0.0,0.0,TSLA,241.949000,52.664511,231.153995,6.593101,11.811547
45427,2024-07-30,232.250000,232.410004,220.000000,222.619995,222.619995,100560300,0.0,0.0,TSLA,242.587000,48.220474,230.341233,5.206237,10.490485

In [ ]:
# Plot stock price with moving average 
sa.plot_stock_data(sa.data)
# plot stock price with relative strength index (RSI)
sa.plot_rsi(sa.data)
# plot stock price with exponential moving avarage
sa.plot_ema(sa.data)
# plot stock price Moving Average Convergence Divergence
sa.plot_macd(sa.data)

In [ ]:
#Close Price over time for different stock symbols
sa.plot_price()

In [8]:
# calculate financial metrics and add one column called 'Returns' to the dataframe
# and display sample dataset
sa.calculate_financial_metrics(sa.data)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol,SMA,RSI,EMA,MACD,MACD_Signal,Returns
0,1980-12-12 00:00:00+00:00,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15 00:00:00+00:00,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN,-0.052171
2,1980-12-16 00:00:00+00:00,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN,-0.073398
3,1980-12-17 00:00:00+00:00,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN,0.024751
4,1980-12-18 00:00:00+00:00,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL,NaN,NaN,NaN,NaN,NaN,0.028992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45423,2024-07-24 00:00:00+00:00,225.419998,225.990005,214.710007,215.990005,215.990005,167942900,0.0,0.0,TSLA,237.924999,44.886918,233.501099,11.789291,15.873789,-0.123346
45424,2024-07-25 00:00:00+00:00,216.800003,226.000000,216.229996,220.250000,220.250000,100636500,0.0,0.0,TSLA,239.118999,46.951389,232.239089,9.353206,14.569672,0.019723
45425,2024-07-26 00:00:00+00:00,221.190002,222.279999,215.330002,219.800003,219.800003,94604100,0.0,0.0,TSLA,240.238000,46.752165,231.054414,7.302106,13.116159,-0.002043
45426,2024-07-29 00:00:00+00:00,224.899994,234.270004,224.699997,232.100006,232.100006,129201800,0.0,0.0,TSLA,241.949000,52.664511,231.153995,6.593101,11.811547,0.055960
45427,2024-07-30 00:00:00+00:00,232.250000,232.410004,220.000000,222.619995,222.619995,100560300,0.0,0.0,TSLA,242.587000,48.220474,230.341233,5.206237,10.490485,-0.040845

In [ ]:
# plot sock price return over time
sa.plot_financial_metrics(sa.data)